<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UrlImageEmail" value="http://desarrollorolavsp.cloudapp.net/jockeysalud_prbInt/" />
    <add key="urlPayu" value="https://sandbox.gateway.payulatam.com/ppp-web-gateway" />
    <add key="urlRespuesta" value="http://desarrollorolavsp.cloudapp.net/jockeysalud_prbInt/Titular/Respuesta" />
    <add key="urlConfirmacion" value="http://localhost/JockeySaludApplication/Titular/Confirmacion" />
    <add key="APIKEY" value="4Vj8eK4rloUd272L48hsrarnUA" />
    <add key="MERCHANTID" value="508029" />
    <add key="CURRENCY" value="USD" />
    <add key="ACCOUNTID" value="512326" />
    <add key="EncryptionKey" value="MAKV2SPBNI99212" />
    <add key="TEST" value="1" />
    <add key="hostEmail" value="smtp.gmail.com" />
    <add key="puertoEmail" value="587" />
    <add key="usuarioEmail" value="" />
    <add key="passwordEmail" value="" />
    <add key="usuarioEmailCitas" value="" />
    <add key="passwordEmailCitas" value="" />
    <add key="sslEmail" value="true" />
    <add key="publickeycaptcha" value="6LfJY2YUAAAAAF7uq-v3Qz8wpJKzmvo7qex0VfxG" />
    <add key="secretkeycaptcha" value="6LfJY2YUAAAAAB8087XLy4jrfC7Q03TZEPzwCjaN" />
    <add key="payucitas" value="0" />
    <add key="versionfiles" value="1.1" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" responseHeaderEncoding="utf-8" enableBestFitResponseEncoding="true" culture="es-CO" />
    <compilation targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="JockeySaludEntities" connectionString="metadata=res://*/Model.JockeySaludModel.csdl|res://*/Model.JockeySaludModel.ssdl|res://*/Model.JockeySaludModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=CMPDESA;password=jsfam;user id=JSFAM;&quot;" providerName="System.Data.EntityClient" />
    <add name="CItaEntities" connectionString="metadata=res://*/CitaModel.CitaModel.csdl|res://*/CitaModel.CitaModel.ssdl|res://*/CitaModel.CitaModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=CMPDESA;PASSWORD=jsfam;USER ID=JSFAM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="CMPDESA" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=rolavsporaclelinux.eastus.cloudapp.azure.com)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=cdb1))(SERVER=POOLED)) " />
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://intranet.jockeysalud.com.pe/wsjsaluddesa/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="ServiceJockeySalud.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 8070C8F2-8CB4-4331-9C73-C3E864AD3700-->